<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
   
 	<!--Authentication Filter -->
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>sample.webapp.filters.AuthFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/home</url-pattern>
	</filter-mapping>
	
	<!-- Home Servlet -->
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>sample.webapp.servlets.ViewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/home</url-pattern>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<!-- Auth Service Servlet -->
	<servlet>
		<servlet-name>auth</servlet-name>
		<servlet-class>sample.webapp.servlets.AuthServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>auth</servlet-name>
		<url-pattern>/auth/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>20</session-timeout>
    </session-config>
</web-app>
